* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Oswald", sans-serif;
}

.section-hero {
  background-image: url("assets/first-background.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* header & nav */
.header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px 50px;
}
.company-name {
  position: absolute;
  top: 45px;
  left: 50px;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 5px;
  margin-right: 50px;
}
header {
  display: flex;
}
nav {
  margin-left: 100px;
}

nav ul {
  display: flex;
  list-style-type: none;
  white-space: nowrap;
}
li a {
  margin-right: 16px;
  margin-left: 16px;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 2.5px;
  font-family: "Source Sans Pro", sans-serif;
}
li a:target {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 8px;
}

/* burger-----menu */
.burger {
  display: none;
}

/* <!--  description section --> */
.main-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

.logo-img {
  width: 63px;
  height: 63px;
}

.main-header {
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  margin-top: 20px;
  margin-bottom: 40px;
  color: #ffffff;
  text-align: center;
}

.secondary-header {
  max-width: 450px;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
}

/* <!--  description section --> */
.about-section {
  background-color: #eeeeee;
  display: flex;
  min-height: 600px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
}

.main-headline {
  margin-top: 30px;
  font-size: 48px;
  line-height: 64px;
  color: #464547;
  font-weight: 700;
}

.short-about-us {
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 450px;
  color: #666666;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

.description-about-us {
  display: grid;
  grid-template-columns:  repeat(2, 1fr);
  gap: 80px;
  width: 80%;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: #000000;
  line-height: 22px;
  text-align: start;
}



.read-more-btn {
  margin-top: 30px;
  margin-bottom: 50px;
  background-color: #55c2d8;
  padding: 5px 18px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  line-height: 26px;
  border-radius: 18px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.read-more-btn:hover {
  background-color: #449bad;
  transform: scale(1.05);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}
/*  <!-- section  more about us -->*/

.learn-more-section {
  background-image: linear-gradient(
      rgba(140, 79, 42, 0.3),
      rgba(140, 79, 42, 0.3)
    ),
    url("assets/second-bcakground.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px;
}

.learn-more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: #39c2d7;
  border: none;
  cursor: pointer;
  font-size: 55px;
  color: white;
}

.learn-more-btn:hover {
  background-color: #33afc2;
  transform: scale(1.05);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.learn-more-short-description {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-top: 70px;
  margin-bottom: 20px;
  color: #ffffff;
  max-width: 450px;
  text-align: center;
}

.video_img {
  width: 55px;
  height: 70px;
}
/* -- footer section-- */
.footer {
  padding: 20px 40px;
  background-color: #464547;
  font-family: "Source Sans Pro", sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 30px;

  margin: 0px 50px;
}

.footer-head {
  display: flex;
  grid-column: 1/3;
  margin: 0px 12px 12px;
  font-size: 18px;
  color: #ffffff;
}

.footer-logo {
  width: 20px;
  height: 20px;
}
.footer-head h4 {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 4px;
  margin: 0px 16px;
}

address {
  grid-column: 3/6;
  font-style: normal;
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  line-height: 20px;
}

.email-anchor {
  grid-column: 3/6;
  grid-row: 2/3;
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}

.copyright {
  grid-column: 6/9;
  grid-row: 2/3;
  color: rgba(255, 255, 255, 0.4);
}
/* responsive */

@media (max-width: 1024px) {
  .description-about-us {
    grid-template-columns: none;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 25px;
    width: 100%;
  }
 
}

@media (max-width: 768px) {
  .header-container {
    justify-content: end;
    padding: 45px 30px;
  }
  nav {
    display: none;
  }
  .burger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .burger-line {
    width: 22px;
    height: 3px;
    background: #ffffff;
    margin-top: 5px;
  }
  .about-section {
    padding: 30px;
    align-items: start;
    text-align: start;
  }

  .learn-more-section {
    padding: 30px;
  }
  .learn-more-btn {
    width: 100px;
    height: 100px;
  }
  .video_img {
    width: 36px;
    height: 46px;
  }

  .footer-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    margin: 0px 20px;
  }
  .footer-head {
    grid-area: 1/1/2/2;
  }

  address {
    grid-area: 2/1/3/2;
  }

  .email-anchor {
    grid-area: 3/1/4/2;
  }
  .copyright {
    grid-area: 4/1/5/2;
  }
}
